.App {
  min-height: 100vh;
  background-image: url('./pics/skybgr.jpg');
}

.box {
	width: 100px;
	height: 100px;
  border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
}

.App {
  padding: 10px;
}

.box {
  margin: 30px 0;
}
img{
  height: 100px;
}